<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sht.filmrescource.mapper.ActorMapper">

    <resultMap type="com.sht.filmrescource.entity.Actor" id="ActorMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="actorName" column="actor_name" jdbcType="VARCHAR"/>
        <result property="actorProfile" column="actor_profile" jdbcType="VARCHAR"/>
        <result property="countryId" column="country" jdbcType="BIGINT"/>
        <association property="actorCountry"  column="actorId=id" select="selectCountryByActorId"/>
        <collection property="dutiesList" ofType="com.sht.filmrescource.entity.Duties" column="actorId=id" select="selectDutiesByActorId"/>
    </resultMap>

    <resultMap id="DutiesMap" type="com.sht.filmrescource.entity.Duties">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="dutiesName" column="duties_name" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectDutiesByActorId" resultMap="DutiesMap">
        select * from duties d
                          inner join film.actor_duties_xref ad on ad.duties_id = d.id
                          inner join actor a on a.id = ad.actor_id
        where a.id = #{actorId}
    </select>
    <select id="selectCountryByActorId" resultMap="com.sht.filmrescource.mapper.CountryMapper.CountryMap">
        select * from country c
                          inner join actor a on a.country = c.id
        where a.id = #{actorId}
    </select>

    <select id="getAllActor" resultMap="ActorMap">
            select * from film.actor
    </select>

    <select id="findActorInfoByActorId" resultMap="ActorMap">
        select * from film.actor where id = #{actorId}
    </select>

    <insert id="addActor" useGeneratedKeys="true" keyProperty="id">
        insert into actor(actor_name, actor_profile, country)
        values (#{actorName}, #{actorProfile},  #{countryId})
    </insert>
    <insert id="addActorDuties">
        insert into film.actor_duties_xref (actor_id, duties_id)
        values (#{actorId}, #{dutiesId})
    </insert>

    <update id="updateActor">
        update actor
        <set>
            <if test="actorName != null and actorName != ''">
                actor_name = #{actorName},
            </if>
            <if test="actorProfile != null and actorProfile != ''">
                actor_profile = #{actorProfile},
            </if>
            <if test="countryId != null">
                country = #{countryId},
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="deleteActorByActorId">
        delete
        from actor
        where id = #{id}
    </delete>
    <delete id="deleteActorDuties">
        delete
        from film.actor_duties_xref
        where actor_id = #{actorId}
    </delete>

</mapper>

