<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sht.filmrescource.mapper.CommentMapper">

    <resultMap id="BaseResultMap" type="com.sht.filmrescource.model.Comment">
        <id column="comment_id" property="commentId" jdbcType="BIGINT"/>
        <result column="user_id" property="userId" jdbcType="BIGINT"/>
        <result column="film_id" property="filmId" jdbcType="BIGINT"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="rating" property="rating" jdbcType="DOUBLE"/>
        <result column="time" property="time" jdbcType="TIMESTAMP"/>
        <association property="user" column="user_id" javaType="com.sht.filmrescource.model.User" select="getUserName"/>
        <association property="film" column="film_id" javaType="com.sht.filmrescource.model.Film" select="getFilmName"/>
     </resultMap>
    <resultMap id="FilmResultMap" type="com.sht.filmrescource.model.Film">
        <id column="film_id" property="filmId" jdbcType="BIGINT"/>
        <result column="film_name" property="filmName" jdbcType="VARCHAR"/>
        <result column="film_rating" property="filmRating" jdbcType="BIGINT"/>
        <result column="film_url" property="filmUrl" jdbcType="VARCHAR"/>
        <result column="show_time" property="showTime" jdbcType="BIGINT"/>
        <result column="is_hot" property="isHot" jdbcType="BIGINT"/>
        <result column="profile" property="profile" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="getUserName" resultType="com.sht.filmrescource.model.User">
        select username from film.user where user_id = #{userId, jdbcType=VARCHAR}
    </select>
    <select id="getFilmName" resultMap="FilmResultMap">
        select film_id, film_name from film.film where film_id = #{filmId, jdbcType=VARCHAR}
    </select>

    <insert id="insertComment">
        insert into film.comment (user_id, film_id, content, rating, time) values (#{userId,jdbcType=BIGINT}, #{filmId,jdbcType=BIGINT}, #{content,jdbcType=VARCHAR}, #{rating,jdbcType=DOUBLE}, CURRENT_TIMESTAMP)
    </insert>
    <select id="findCommentByFilmId" resultMap="BaseResultMap">
        select * from film.comment where film_id = #{filmId,jdbcType=BIGINT}
    </select>
    <select id="findAllComment" resultMap="BaseResultMap">
        select * from film.comment
    </select>


</mapper>
