<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sht.filmrescource.mapper.FilmMapper">

    <resultMap type="com.sht.filmrescource.entity.Film" id="BaseResultMap">
        <result property="filmId" column="film_id" jdbcType="INTEGER"/>
        <result property="filmName" column="film_name" jdbcType="VARCHAR"/>
        <result property="filmUrl" column="film_url" jdbcType="VARCHAR"/>
        <result property="filmRating" column="film_rating" jdbcType="NUMERIC"/>
        <result property="showTime" column="show_time" jdbcType="INTEGER"/>
        <result property="isHot" column="is_hot" jdbcType="INTEGER"/>
        <result property="profile" column="profile" jdbcType="VARCHAR"/>
        <result property="type" column="type" jdbcType="VARCHAR"/>
        <association property="countryString">
            <result property="id" column="id"/>
            <result column="country_name" property="countryName"/>
        </association>
        <collection property="actorList" ofType="com.sht.filmrescource.entity.Actor" column="filmId=film_id" select="selectActor">

        </collection>
    </resultMap>

    <resultMap id="CountryMap" type="com.sht.filmrescource.entity.Country">
        <result property="id" column="id"/>
        <result column="country_name" property="countryName"/>
    </resultMap>

    <resultMap id="ActorMap" type="com.sht.filmrescource.entity.Actor">
        <result property="id" column="id" jdbcType="BIGINT"/>
        <result property="actorName" column="actor_name" jdbcType="VARCHAR"/>
        <result property="actorProfile" column="actor_profile" jdbcType="VARCHAR"/>
        <result property="duties" column="duties" jdbcType="INTEGER"/>
        <result property="actorCountry" column="actor_country" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectActor" resultMap="ActorMap">
        select * from actor a
            inner join film_actro_xref fa on fa.actor_id = a.id
inner join film f on f.film_id = fa.film_id
where f.film_id = #{filmId}
    </select>
    <insert id="insert" keyProperty="filmId" useGeneratedKeys="true">
        insert into film(film_name,film_url, show_time, profile, type, country)
        values (#{filmName},#{filmUrl}, #{showTime}, #{profile}, #{type}, #{country})
    </insert>
    <update id="updateImage">
        update film
        set film_url = #{fileName}
        where film_id = #{filmId}
    </update>
    <update id="updateFilm">
        update film
        set film_name = #{filmName} ,film_url = #{filmUrl},
            show_time = #{showTime},
            is_hot = #{isHot},
            country = #{country},
            type = #{type}
        where film_id = #{filmId}
    </update>
    <delete id="delete">
        delete from film.film where film_id = #{filmId}
    </delete>

    <select id="findHotFilm" resultMap="BaseResultMap">
        select *
        from film.film f
                 inner join country c on c.id = f.country
        where is_hot = 1 limit 6
    </select>
    <select id="findNewFilm" resultMap="BaseResultMap">
        select *
        from film.film f
                 inner join country c on c.id = f.country
        order by show_time desc limit 6
    </select>
    <select id="findNewHotFilm" resultMap="BaseResultMap">
        select*
        from film.film f
                 inner join country c on c.id = f.country
        where is_hot = 1
        order by show_time desc limit 6
    </select>
    <select id="findAllFilm" resultMap="BaseResultMap">
        select *
        from film.film f
                 inner join country c on c.id = f.country
    </select>
    <select id="findLunBoFilm" resultMap="BaseResultMap">
        select *
        from film.film
        order by show_time desc limit 4
    </select>
    <select id="findAllHotFilm" resultMap="BaseResultMap">
        select *
        from film.film f
                 inner join country c on c.id = f.country
        where is_hot = 1
    </select>
    <select id="findAllRecommendedFilm" resultMap="BaseResultMap">
        select *
        from film.film f
                 inner join country c on c.id = f.country
        where is_hot = 1
        order by show_time desc
    </select>
    <select id="searchFilm" resultMap="BaseResultMap">
        <bind name="pattern" value="'%' + searchInfo + '%'"/>
        select *
        from film.film f
        inner join country c on c.id = f.country
        where film_name like #{pattern}
    </select>
    <select id="findFilmByFilmId" resultMap="BaseResultMap">
        select *
        from film.film f
                 inner join country c on c.id = f.country
        where f.film_id =
              #{filmId,jdbcType=BIGINT}
    </select>
    <select id="findFilmInfoByFilmId" resultMap="BaseResultMap">
        select *
        from film.film f
                 inner join country c on c.id = f.country
                 inner join film_actro_xref fa on fa.film_id = f.film_id
                 inner join actor a on a.id = fa.actor_id
        where f.film_id =
              #{filmId,jdbcType=BIGINT}
    </select>
    <select id="getAllCountry" resultMap="CountryMap">
        select * from film.country
    </select>
</mapper>
